@import "./theme.scss";

.sidebar {
  height: 100%;
  background-color: $sb-dark-1;
  display: flex;
  gap: 0.5rem;

  &.collapsed {
    padding: 1rem 0.4rem 1rem 0.4rem;
    align-items: center;
  }
}

.sidebar-content {
  width: 250px;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-button > button {
  height: 100%;
  width: 1rem;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: smaller;
  border-right: 1px solid $sb-gray-5;
  border-left: 1px solid $sb-gray-5;
}
