@import "../../../styles/theme.scss";

.sidebar-content {
  width: auto;
}

.sidebar {
  border-right: 1px solid $sb-gray-5;
}

.sidebar-splitter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
