@import "../../../core/styles/theme.scss";

.content-header {
  background-color: $sb-dark-1;
  border-bottom: 1px solid $sb-gray-5;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;

  .button-group {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
