@import "../../../styles/theme.scss";

.footer-bar {
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: $sb-dark-1;
  border-top: 1px solid $sb-gray-5;
  align-items: center;
  height: 30px;
}

.footer-bar-left {
  padding-right: 1rem;
  display: flex;
  gap: 0.5rem;
  border-right: 1px solid $sb-gray-5;
}

.footer-bar-center {
  flex: 1;
  display: flex;
  justify-content: start;
  gap: 0.5rem;
}

.footer-bar-right {
  padding-left: 1rem;
  display: flex;
  gap: 0.5rem;
  border-left: 1px solid $sb-gray-5;
}
