<aside class="sidebar">
  <div
    #treeComponent
    class="sidebar-content"
    *ngIf="sideBarState.$mainSidebarVisible | async"
    aria-haspopup="true"
  >
    <p-button label="Add Folder" (onClick)="newRootFolder()"></p-button>
    <p-tree
      selectionMode="single"
      [value]="$fileStructure | async"
      styleClass="w-full md:w-[30rem]"
      [draggableNodes]="true"
      [droppableNodes]="true"
      draggableScope="self"
      droppableScope="self"
      [contextMenu]="treeNodeContext"
      (onNodeDrop)="folderMoved($event)"
      (onNodeContextMenuSelect)="selectFolder($event)"
      (onNodeDoubleClick)="onNodeDoubleClick($event)"
      [(selection)]="selectedFolder"
    >
      <ng-template let-node pTemplate="1">
        <span *ngIf="!node.isEditing">
          {{ node.label }}
        </span>
        <input
          pInputText
          *ngIf="node.isEditing"
          [(ngModel)]="node.label"
          (blur)="onEditComplete(node)"
          (keydown.enter)="onEditComplete(node)"
        />
      </ng-template>
    </p-tree>
    <p-contextmenu
      #treeNodeContext
      [model]="treeNodeContextItems"
      (onShow)="treeComponentContext.hide()"
      appendTo="body"
    />
    <p-contextMenu
      #treeComponentContext
      [target]="treeComponent"
      (onShow)="treeNodeContext.hide()"
      [model]="treeComponentContextItems"
      appendTo="body"
    ></p-contextMenu>
  </div>
  <p-button
    class="sidebar-button"
    [icon]="
      (sideBarState.$mainSidebarVisible | async)
        ? 'fas fa-chevron-left'
        : 'fas fa-chevron-right'
    "
    (onClick)="sideBarState.toggleMainSidebar()"
    severity="secondary"
  ></p-button>
</aside>
<p-dialog
  header="Edit Profile"
  [modal]="true"
  [(visible)]="isNewFolderDialogVisible"
  [style]="{ width: '25rem' }"
>
  <h3>New Folder</h3>
  <span class="p-text-secondary block mb-8">Update your information.</span>
  <div class="flex items-center gap-4 mb-8">
    <label for="folderName" class="font-semibold w-24">Name</label>
    <input
      pInputText
      id="folderName"
      class="flex-auto"
      autocomplete="off"
      [(ngModel)]="newFolderName"
    />
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="closeAddFolder()" />
    <p-button label="Save" (click)="addFolder()" />
  </div>
</p-dialog>
<p-confirmdialog></p-confirmdialog>
